html {
  background-color: #6f5964;
  vertical-align: top;
}

#header {
  background-color: #f7f7f7;
  margin: 0px;
  padding: 10px;
  width: 100%;
}
#header h1,h2{
  display: inline-block;
  margin: 0px;
  width: 48%;
  vertical-align: center;
}
#header h2{
  display: inline-block;
  text-align: right;
  width: 48%;
}
#main_content {
  padding: 10px;
}
#main_content img {
  display: inline-block;
  vertical-align: top;
}
#aboutMe {
  width: 100%;
}
#aboutMe img {
  background-color: lightgrey;
  padding: 5px;
  width: 49%;
  display: inline-block;
  vertical-align: top;
}
#aboutMe div{
  margin-left: 10px;
  width: 48%;
  display: inline-block;
  vertical-align: top;
  background: -webkit-linear-gradient(0deg ,#fefefe,#dbcdda);
  height: 100%;
}
#aboutMe h2 {
  color: white;
  background: -webkit-linear-gradient(#adadb0,#8a8895,#adadb0);
  width: 100%;
  padding: 10px 0px;
}
#aboutMe p{
  margin: 0px;
  padding: 10px;
}
#aboutMe a{
  color: black;
}
#wrapper_col {
  width: 100%;
  margin: 10px 0px;
}
.col {
  background: -webkit-linear-gradient(0deg ,#fefefe,#dbcdda);
  display: inline-block;
  vertical-align: top;
  width: 32%;
  margin-right: 5px;
}
.col h2,h3{
  background: -webkit-linear-gradient(#adadb0,#8a8895,#adadb0);
  width: 100%;
  display: block;
  color:white;
  padding: 10px 0px;
}
.col img {
  width: 100%;
  margin: 0px;
}
.col p {
  padding: 10px;
  height: 150px;
}
.tech {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
}
.tech img {
  width: 18%;
  display: inline-block;
  vertical-align: top;
}
.button {
  color: white;
  background-color: #407d61;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 2px 2px 1px black;
}
.button_space {
  width: 100%;
  text-align: center;
  height: 50px;
  padding-top: 25px;
}
#footer {
  height: 75px;
  background-color: white;
  text-align: center;
  padding: 5px;
}
#footer a {
  color: black;
}
#footer img{
  width: 20px;
  height: 20px;
}